.pass-out-section {
    padding: 1rem 7rem;
}

.pass-out-section h1 {
    color: #C8AB4D;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.pass-out {
    display: flex;
    align-items: center;
    justify-content: center;}

.pass-out .pass-out-card {
    width: 100%;
    box-shadow: 0px 5px 10px 0px #aaa;
    padding: 2rem;
    border-radius: 1rem;
}

.pass-out .pass-out-card img{
    width: 100%;
}

.pass-out .pass-out-card h1,
.pass-out .pass-out-card h3,
.pass-out .pass-out-card p {
    color: black;
    margin: 0;
    text-align: start;
}
